<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Yahtzee Flask Application</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('main') }}">MaAd's Yahtzee KMOM02</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <div class ="nav-button">
                    <li {%- if request.path == "/" %} class="active" {% endif %}><a href="{{ url_for('index') }}">Welcome</a></li>
                </div>
                <div class ="nav-button">
                    <li {%- if request.path == "/main" %} class="active" {% endif %}><a href="{{ url_for('main') }}">Play</a></li>
                </div>
                <div class ="nav-button">
                    <li {%- if request.path == "/about" %} class="active" {% endif %}><a href="{{ url_for('about') }}">About</a></li>
                </div>
            </ul>
        </div>
    </nav>
